:root {
    --cor-azul-padraoAC: #23AEB7;
    --cor-vermelho-porto: #EA3B5A;
    --cor-branco-gelo: #f1f1f0;
    --cor-amarelo-lemon: #F3BF08;
    --cor-roxoAC: #503488;
    --cor-preto-corpo-texto: #212322;
    --font-title: 'Poppins', sans-serif;
    --font-paragraf: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-preto-corpo-texto);
}

#agenda  {
    font-family: 'Poppins', sans-serif;
    color: var(--cor-azul-padraoAC);
    font-size: 40px;
    margin-top: 4pc;
    margin-left: 162px;
}

.main-content {
    width: 100%;
    height: 100vr;
}

.main-top-text-content {
    padding: 60px 0px 0px 160px;
}

.main-top-text-content-left {
    width: 40%;
    display: grid;
}

.main-top-text-title {
    font-family: 'Poppins', sans-serif;
    color: #23AEB7;
    font-size: 17px;
    margin-bottom: 10px;
}

.main-top-text-paragraf {
    font-family: 'Open Sans', sans-serif;
    color: #f1f1f0;
    font-size: 20px;
    text-align: justify;
}

#calendar {
    width: 800px;
    height: 600px;
    margin-top: 18pc;
    margin-left: 20pc;
    position: absolute;
    color: var(--cor-branco-gelo);
}

#linha {
    border-bottom: solid 10px #23AEB7;
    width: 80%;
    margin-left: 170px;
    margin-top: 50pc;
}

.main-content2 {
    width: 100%;
    height: 100vr;
}

.main-top-text-content2 {
    padding: 100px 10px 200px 160px;
}

.main-top-text-content-left2 {
    width: 40%;
    display: grid;
}

.main-top-text-title2 {
    font-family: 'Poppins', sans-serif;
    color: #23AEB7;
    font-size: 17px;
    margin-bottom: 10px;
}

.main-top-text-paragraf2 {
    font-family: 'Open Sans', sans-serif;
    color: #f1f1f0;
    font-size: 20px;
    text-align: justify;
}

#calendar2 {
    width: 800px;
    height: 600px;
    margin-top: 18pc;
    margin-left: 20pc;
    position: absolute;
    color: var(--cor-branco-gelo);
}

#topo {
    float: right;
    padding: 0 46px;
    color: #212322;
    margin-top: -18px;
    font-size: 17px;
}