footer {
    background-color: var(--cor-azul-padraoAC);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px var(--cor-preto-corpo-texto) solid;
}

.footer-content {
    padding: 16px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-footer-direitos-autorais {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-footer {
    width: 130px;
    height: 50px;
}

.direitos-autorais {
    margin-left: 20px;
    font-family: var(--font-paragraf);
    color: var(--cor-preto-corpo-texto);
    white-space: nowrap;
    font-weight: 600;
}

.social-medias {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.social-medias ul li {
    list-style: none;
    float: left;
    margin-left: 20px;
}

.social-medias-icon {
    width: 35px;
    height: 35px;
}
