:root{
    --cor-azul-padraoAC: #23AEB7;
    --cor-vermelho-porto: #EA3B5A;
    --cor-branco-gelo: #f1f1f0;
    --cor-amarelo-lemon: #F3BF08;
    --cor-roxoAC: #503488;
    --cor-preto-corpo-texto: #212322;

    --font-title: 'Poppins', sans-serif;
    --font-paragraf: 'Open Sans', sans-serif; 
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-branco-gelo);
}

#header-main{
    height: 70px;
    display: flex;
    background: #212322;
    border-bottom: 2px var(--cor-azul-padraoAC) solid;
    justify-content: center;
}

#nav-main{
    height: 68px;
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
}
#nav-main ul li {
    list-style: none;
}

#nav-main a{
    text-decoration: none;    
    color: #23AEB7;
    font-family: var(--font-title);
}

#nav-main ul ul{
    position: absolute;
    visibility: hidden;
}

#nav-main ul li:hover ul{
    visibility: visible;
}

#nav-main ul li:hover a{
    color: var(--cor-branco-gelo);
    transition: 0.3s;
}

#nav-main ul li ul li:hover a{
    color: var(--cor-preto-corpo-texto);
    transition: 0.3s;
}

#nav-main ul ul li{
    background-color: var(--cor-azul-padraoAC);
    float: left;
    position: relative;
    top: 25px;
    color: var(--cor-azul-padraoAC);
    font-family: var(--font-title);
    padding: 10px 0;
}

#nav-main ul ul li a{
    margin: 20px;
}

#nav-main ul ul li:hover{
    background-color: var(--cor-azul-padraoAC);
    transition: 0.3s;
}

#menu-nav-principal{
    display: flex;
    align-items: center;
    padding-inline-start: 0px;
}

#menu-nav-principal > li{
    padding-left: 32px;
    padding-right: 32px;
}

.logo-main{
    display: flex;
    align-items: center;
}

.logo{
    width: 130px;
    height: 50px;
}

.main-content{
    width: 100%;
    height: 100vh;
}

.main-top-background-foto{  
    background-image: url('/img-logo-paleta-cores-icons/background-armazem-da-criatividade.jpg');    
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.layer{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.main-top-text-content{
    padding: 50px 100px 100px 100px;
}

.main-top-text-content-left{
    width: 50%;
    display: grid;
}

.main-top-text-title{
    font-family: var(--font-title);
    color: var(--cor-azul-padraoAC);
    font-size: 50px;
    text-align: left;
}

.main-top-text-paragraf{
    font-family: var(--font-paragraf);
    color: var(--cor-branco-gelo);
    font-size: 20px;
    text-align: left;
    margin-top: 100px;
    
}

.main-content-parceiro{ 
    font-family: var(--font-title);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 300px;
    padding-bottom: 20px;
    border-bottom: 3px #212322 solid;
}

.main-content-parceiro h2{
    color: #212322;
}

.main-content-carousel{
    width: 100%;
    height: 50px;
    margin: 50px auto;
    overflow: hidden;
}

.main-content-carousel ul{
    display: flex;
    list-style: none;
    width: 100%;
    height: 50px;
    align-items: center;
}

.main-content-carousel img {
    max-width: 200px;
    max-height: 50px;
}

.main-content-carousel li{
    position: relative;
    animation: slide 15s linear infinite;
    margin: 0 100px;
}

@keyframes slide{
    0%{left: 0px}
    100%{left: -1000px}
}

footer {
    background-color: var(--cor-azul-padraoAC);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px var(--cor-preto-corpo-texto) solid;
}

.footer-content{
    padding: 16px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-footer-direitos-autorais{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-footer{
    width: 130px;
    height: 50px;
}

.direitos-autorais{
    margin-left: 20px;
    font-family: var(--font-paragraf);
    color: var(--cor-preto-corpo-texto);
    white-space: nowrap;
    font-weight: 600;
}

.social-medias{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.social-medias ul li{
    list-style: none;
    float: left;
    margin-left: 20px;
}

.social-medias-icon{
    width: 35px;
    height: 35px;
}