:root {
    --cor-azul-padraoAC: #23AEB7;
    --cor-vermelho-porto: #EA3B5A;
    --cor--brancogelo: #f1f1f0;
    --cor-amarelo-lemon: #F3BF08;
    --cor-roxoAC: #503488;
    --cor-preto-corpo-texto: #212322;
    --font-title: 'Poppins', sans-serif;
    --font-paragraf: 'Open Sans', sans-serif;
}

body, p, h1, h2 {
    margin: 0;
    padding: 0;
}

p {
    font-family: var(--font-paragraf);
    color: var(--cor--brancogelo);
    font-size: 24px;
    text-align: justify;
}

h2 {
    font-family: var(--font-title);
    color: var(--cor-azul-padraoAC);
    font-size: 72px;
}

a {
    text-decoration: none;
}

main {
    background-color: var(--cor-preto-corpo-texto);
    height: 100vh;
}

body {
    background-color: var(--cor-preto-corpo-texto);
}

.mind-the-bizz {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    height: 35vh;
    width: 100%;
}

.mdb-texto {
    width: 30%;
    position: relative;
    margin-left: 80px;
}

.mdb-texto a {
    margin-top: 10px;
    position: absolute;
    right: 0;
}

.mdb-img {
    background-image: url('https://imagens.ne10.uol.com.br/img/imagens/2020/02/01/98abe53ff9_armaze%CC%81m-da-criatividade-caruaru.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 40%;
    position: relative;
    border: 3px solid var(--cor-azul-padraoAC);
    margin-right: 80px;
}

.botoes {
    font-family: var(--font-paragraf);
    font-weight: bold;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    color: var(--cor--brancogelo);
    background-color: var(--cor-roxoAC);
    padding: 5px 20px 5px 20px;
    border-radius: 50px;
    border: thick solid var(--cor-azul-padraoAC);
    box-shadow: 10px 5px 5px 2px var(--cor-azul-padraoAC);
}

.mdb-btn {
    bottom: -60px;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.incubacao {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    height: 35vh;
    width: 100%;
}

.inc-img {
    background-image: url('https://imagens.ne10.uol.com.br/img/imagens/2020/02/01/98abe53ff9_armaze%CC%81m-da-criatividade-caruaru.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 40%;
    position: relative;
    border: 3px solid var(--cor-azul-padraoAC);
    margin-left: 80px;
}

.incubacao a {
    position: absolute;
    margin-top: 10px;
    right: 0;
    padding: 5px 10px 5px 10px;
    white-space: nowrap;
}

.inc-text {
    width: 44%;
    margin-right: 80px;
    position: relative;
}

.aceleracao {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    height: 35vh;
    width: 100%;
}

.aceleracao h2 {
    padding-top: 0;
    font-size: 32px;
}

.acl-text1 {
    width: 40%;
    margin-left: 80px;
    position: relative;
}

.acl-text2 {
    width: 40%;
    margin-right: 80px;
}

.acl-text1 a {
    position: absolute;
    margin-top: 10px;
    right: 0;
}

.open-innovations {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.oil-text h2 {
    font-size: 68px;
}

.imgs {
    width: 38%;
    margin-left: 100px;
    height: 450px;
    margin-bottom: 50px;
    display: flex;
    position: relative;
}

.img1 {
    background-image: url('https://imagens.ne10.uol.com.br/img/imagens/2020/02/01/98abe53ff9_armaze%CC%81m-da-criatividade-caruaru.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 340px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid var(--cor-azul-padraoAC);
}

.img2 {
    width: 340px;
    height: 200px;
    background-image: url('https://imagens.ne10.uol.com.br/img/imagens/2020/02/01/98abe53ff9_armaze%CC%81m-da-criatividade-caruaru.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    border: 3px solid var(--cor-azul-padraoAC);
}

.img3 {
    width: 340px;
    height: 200px;
    background-image: url('https://imagens.ne10.uol.com.br/img/imagens/2020/02/01/98abe53ff9_armaze%CC%81m-da-criatividade-caruaru.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 3px solid var(--cor-azul-padraoAC);
}

.img4 {
    width: 340px;
    height: 200px;
    background-image: url('https://imagens.ne10.uol.com.br/img/imagens/2020/02/01/98abe53ff9_armaze%CC%81m-da-criatividade-caruaru.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 3px solid var(---cor-azul-padraoAC);
}

.oil-text {
    width: 40%;
    margin-right: 80px;
    position: relative;
}

.oil-text a {
    position: absolute;
    margin-top: 10px;
    right: 0;
}

.led {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 90px;
}

.led-text {
    width: 40%;
    margin-left: 80px;
    position: relative;
}

.led-text a {
    position: absolute;
    margin-top: 10px;
    left: 0;
}

.led-img {
    background-image: url('https://imagens.ne10.uol.com.br/img/imagens/2020/02/01/98abe53ff9_armaze%CC%81m-da-criatividade-caruaru.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 31%;
    margin-right: 80px;
    height: 390px;
    border: 3px solid var(--cor-azul-padraoAC);
}

.botoes:hover {
    color: var(--cor--brancogelo);
    background-color: var(--cor-azul-padraoAC);
    box-shadow: 10px 5px 5px 2px var(--cor-preto-corpo-texto);
    transition: 0.5s;
}


#topo {
    float: right;
    padding: 0 46px;
    color: #212322;
    margin-top: -20px;
    font-size: 17px;
}

/* @media screen and (max-width: 1400px) {
    main {
        font-size: 14px;
        padding: 0;
        background-color: red;
    }
    .mdb-texto h2 {
        font-size: 62px;
    }   
}

@media screen and (max-width: 1000px) {
    main {
        font-size: 12px;
        padding: 0;
        background-color: green;
    }

    .mdb-texto a {
        top: 20px;
        left: 50px;
        position: relative;
        font-size: 12px;
        margin-left: 20px; 
    }

    .mdb-texto h2 {
        font-size: 32px;
    }

    .botoes  {
        top: 5px;
        right: 10px;
        position: relative;
        font-size: 12px;
        margin-left: 20px; 
        padding: auto;
        box-shadow: none;
    }
    
} */