<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/programas.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/footer.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

    <title>Programas</title>
</head>
<body  onload="header(), footer()"  >
    <header id="header-main">

    </header>
    <main>
        <div class="mind-the-bizz">
            <div class="mdb-texto">
                <h2>Mind the Bizz</h2>
                <p>Lorem ipsum neque adipiscing cras vestibulum curabitur, 
                    turpis lobortis tortor suspendisse varius in, proin vulputate 
                    dictumst hac fringilla. aptent massa curae imperdiet neque adipiscing 
                    orci egestas magna sodales, conubia turpis porttitor ad sollicitudin 
                    quisque sed per
                </p> 
                <a class="botoes" href="">Participantes</a>
            </div>
            <div class="mdb-img">
                <div class="mdb-btn">
                    <a class="botoes" href="">Tema atual</a>
                    <a class="botoes" href="">Inscrições</a>
                </div>
            </div>
        </div>
        <div class="incubacao">
            <div class="inc-img">
                
            </div>
            <div class="inc-text">
                <h2>Incubação</h2>
                <p>Lorem ipsum neque adipiscing cras vestibulum curabitur, 
                    turpis lobortis tortor suspendisse varius in, proin vulputate 
                    dictumst hac fringilla. aptent massa curae imperdiet neque adipiscing 
                    orci egestas magna sodales, conubia turpis porttitor ad sollicitudin 
                    quisque sed per, pellentesque nunc ut luctus mauris consectetur pharetra 
                    at. cursus torquent netus at fusce habitant pretium potenti, velit arcu 
                    cursus scelerisque tincidunt fusce fermentum, cras nulla etiam vestibulum 
                    curae lectus. 
                </p> 
                <a class="botoes" href="">Mais informações</a>
            </div>
        </div>
        <div class="aceleracao">
            <div class="acl-text1">
                <h2>Aceleração de Empreendimento Rurais</h2>
                <p>
                    Lorem ipsum neque adipiscing cras vestibulum curabitur, 
                    turpis lobortis tortor suspendisse varius in, proin vulputate 
                    dictumst hac fringilla. aptent massa curae imperdiet neque adipiscing 
                    orci egestas magna sodales
                </p>
                <a href="" class="botoes">Mais informações</a>
            </div>
            <div class="acl-text2">
                <p>
                    Lorem ipsum neque adipiscing cras vestibulum curabitur, 
                    turpis lobortis tortor suspendisse varius in, proin vulputate 
                    dictumst hac fringilla. aptent massa curae imperdiet neque adipiscing 
                    orci egestas magna sodales
                </p>
            </div>
        </div>
        <div class="open-innovations">
            <div class="imgs">
                <div class="img1"></div>
                <div class="img2"></div>
                <div class="img3"></div>
                <div class="img4"></div>
            </div>
            <div class="oil-text">
                <h2>Open Innovation Labs</h2>
                <p>
                    Lorem ipsum neque adipiscing cras vestibulum curabitur, 
                    turpis lobortis tortor suspendisse varius in, proin vulputate 
                    dictumst hac fringilla. aptent massa curae imperdiet neque adipiscing 
                    orci egestas magna sodales
                </p>
                <a href="" class="botoes">Mais informações</a>
            </div>

        </div>
        <div class="led">
            <div class="led-text">
                <h2>LED</h2>
                <p>
                    Lorem ipsum neque adipiscing cras vestibulum curabitur, 
                    turpis lobortis tortor suspendisse varius in, proin vulputate 
                    dictumst hac fringilla. aptent massa curae imperdiet neque adipiscing 
                    orci egestas magna sodales
                </p>
                <a href="" class="botoes">Mais informações</a>
            </div>
            <div class="led-img">

            </div>
        </div>
        <footer id="footer-main">

        </footer>
    </main>
    
</body>
</html>